#menu-wrapper ul{
    padding: 0px;
    list-style: none;
}

#hmenu > li{
display:inline-block;
}

#hmenu >li >a{
    display: block;
    padding: 10px 5px;
    width: 90px;
}

li ul{
    position: absolute;
    display: none;
}

.sub-menu a{
    display: block;
    padding: 10px 5px;
    width: 130px;
}


#sub-menu a{
    display: block;
    padding: 10px 5px;
    width: 130px;
}

li:hover ul{
    display: block;
}

#menu-wrapper, li ul{
    background: #000000;
}
#hmenu{
    width: 412px;
    margin: 0 auto;
}
#hmenu a{
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
}

#hmenu li:hover{
    background: #f389d9ec;
    text-shadow:3px 2px 2px #000000;
}
footer{
padding: 10px;
font-weight: bolder;
color: #ffffff;
background-color: #0f0f0f;
}
#a{
    padding-left: 700px;
  image-orientation:right;  
}
#b{
    padding-left: 5px;
}