.pi_container{
    min-height: 100vh;
}
.pi_wrapper img{
width: 150px;
}
.p_item{
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0,0, 0.12), 0 1px 2px rgba(0, 0,0, 0.24);
    width: 150px;
}